.menu-container {
    background-color: var(--base-color);

    min-height: 350px;
    height: 100%
    
}
.sidenav-content {
    background-color: var(--base-color);
}
.main-content {
    padding: 20px;
    background-color: var(--base-color);
    color: var(--text-color);
    min-height: 350px;
}
.balance-col {
    background-color: var(--container-color);
    color: var(--text-color);
}
/* 
.chart-col{
    min-height: 350px;
} */
.dash-top{
    width: 100%;

    display: flex;
    gap: 16px;
}
.dash-title{
    font-size: 1.5rem;
}
.dash-buttons{
    margin-left: auto;
}