<div class="wrapper">
    <div class="brand-group" routerLink="/">
        <img src="assets/images/icon.jpg" alt="" class="logo link" />
        <div class="brand-name link">
           Simplebank
        </div>
    </div>
    <div class="user-group">
        <div class="user-name">
            Wellcome User
        </div>
        <div class="balance" routerLink="/balance">
            <fa-icon [icon]="faCoffee"></fa-icon>
            <span class="balance-total">${{ 0 | number : "1.2-2" }}</span>
        </div>
        <div class="user-pic">
            <fa-icon [icon]="faCoffee" size="3x"></fa-icon>
        </div>
    </div>
</div>
