<mat-toolbar class="header-toolbar">
    <div class="logo-brand">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/images/logo.jpg" alt="Simplebank logo" class="logo">
        <span class="brand-name link">Simplebank</span>
    </div>
    <div class="user-group">
        <span>Name</span>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>